/* Globala stilar och grundinställningar */
:root{
    --background:#011827;
    --redBtn:#E3170A;
    --blueBtn:#8ACFE5;
}
/* Bakgrundsinställning för hela sidan */
body{
    margin: 0px;
    font-family: "Roboto";
}
/* Stil för sidans header-sektion */
.headSection{
    display: grid;
    background-color: var(--background);
    color: white;
    padding:30px;
}
.navBar ul{
    position: relative;
    display: flex;
    list-style-type: none;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
    justify-content: space-evenly;
}
.navBar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
    border-radius: 15px;
}
.navBar a:hover{
    background-color: #458ea9;  /* Effekt när man hovrar över länkar */
}
.logoAndTitle{
    display: flex;
    padding-bottom: 20px;
}
.logoAndTitle h1{
    margin: 0px;
    align-content: end;
    max-height: 88px;
}
.title{
    padding-left: 10px;
}
.esc{
    display: flex;
    padding:40px 45px 3px 3px;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 8s ease-in-out infinite;
}
.esc p{
    background-color: white;
    border-radius: 10px;
    color: rgba(41, 17, 255, 0.765);
    font-weight: bold;
    margin: 0px;
    align-self: end;
    padding: 10px;
    max-height: 20px;
    background-image: conic-gradient(yellow, green, white);
    background-size: 300% 300%; 
    animation: color 10s infinite linear;
}
/*Image and button grup here*/
.titleImgCard{
    position: relative;
    max-width: 100%;
    max-width: 100%;
}
.btnGrupHolder{
    display: flex;
    justify-content: center;
    transform:translateY(-50%);
}
.onlineBtn{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 0px 5px 0.2px;
    margin-right: 1px;
    cursor: pointer;
}
.onlineBtn:hover{
    background-color: white;
    color: red;
    box-shadow: 0px 0px 10px 10px;
}
.onSiteBtn{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 0px 5px 0.2px;
    margin-left: 1px;
    cursor: pointer;
}
.onSiteBtn:hover{
    background-color: white;
    color: red;
    box-shadow: 0px 0px 10px 10px;
}
/*kommenter sections style here*/
#commentSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px 30px 50px 30px;
    gap: 3em;
}
.commentCard{
    display: flex;
    max-height: 100px;
}
.commenterImgCard{
    max-height: 100%;
    border-radius: 50%;
}
.textCard{
    display: grid;
    align-content: space-between;
    padding: 5px 0px 0px 20px;
    /* background-color: #46b5ff;
    border-radius: 50px 20px 20px 0px;
    color: white; */
}
.text{
    font-size: clamp(18px, 0px, 0px);
    /* font-size: 6vw; */
    margin: 0px;
    font-weight: 20%;
    padding-bottom: 20px;
}
.textCard p{
    margin: 0px;
}
.textCard{
    display: grid;
    overflow:wrap;
}
.titleUnderComment{
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
/*Here is the style for slider section and the cards*/
.sliderSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: auto; 
    gap:20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
}
.cardsContainer{
    flex: 0 0 80%;
    scroll-snap-align: start;
    display: grid;
    max-height: 440px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    
    
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
.hackerImgCard{
    max-height: 110%;
    max-width:100%;
    border-top-right-radius: 30px;
}
.titleOfRoom{
    font-weight: bold;
    padding-left: 10px;
}
.starsAndText{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.fa-solid{
    color: yellow;
}
.paricipantsText{
    margin: 0px;
    padding-right: 10px;
}
.discriptionsText{
    padding: 0px 10px 0px 10px;
}

.cardBtn{
    background-color: rgba(51, 223, 65, 0.457);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color:white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    max-width: 40%;
    justify-self: center;
}
.cardBtn:hover{
    background-color: red;
}
/*Style for the button group under the slider should be here*/
.btnGrupHolderMid{
    display: flex;
    margin: 100px 0px 100px 0px;
    justify-content: center;
}
.midBtnRight{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 0px 5px 0.2px;
}
.midBtnLeft{
    padding: 20px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    border: none;
    box-shadow: 0px 0px 5px 0.2px;
}
.midBtnLeft:hover{
    color: rgb(163, 131, 131);
    box-shadow: 0px 0px 10px 10px;
}
.midBtnRight:hover{
    color: rgb(163, 131, 131);
    box-shadow: 0px 0px 10px 10px;
}

/*style for the story section*/
#storySection{
    display: grid;
    background-color: #fcfefc;
    padding: 100px 300px;
    margin-bottom: 100px;
    box-shadow: 0px 1px 5px 0.3px;
}
.storyText{
    font-size: large;
}
.storyBtnHolder{
    display: flex;
    justify-content: center;
}
.storyBtn{
    padding: 20px;
    font-weight: bold;
    border-color: red;
    border-radius: 20px;
}
#foter{
    display: flex;
    background-color: #011827;
    color:white;
    padding: 50px;
    justify-content: space-between;
}


/*Mid section before the footer styles*/
.gridItems{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.imgHolder{
    max-width: 100%;
    max-height: 100%;
}
.btnFoter{
    background-color: rgb(242, 145, 145);
    color: white;
    font-weight: bold;
    padding: 10px;
    border:none;
    border-radius: 10px;
}
.btnFoter:hover{
    background-color:white;
    color: black;
}
.infoHolder{
    display: grid;
    align-content: space-between;
    padding: 60px;
    max-width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff);
    border-top-right-radius: 50px;
}
.infoHolderx{
    display: grid;
    align-content: space-between;
    padding: 60px;
    max-width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff);
    border-bottom-left-radius: 50px;
}

/*This quiery is for the background color*/
@keyframes color{
    0%{
        background-position: 0 20%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/*Here is the responsiv design for smaller display that needed to be hard koded*/
@media(max-width: 768px){
    .sliderSection{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 20px;
    }
    .navBar{
        display: none;
    }
    .commentCard{
        margin-bottom: 100px;
    }
    .titleUnderComment{
        font-size: 5vw;
    }
    .btnGrupHolder{
        display: grid;
        justify-content: center;
        transform: translateY(-26%);
    }
    .onlineBtn{
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .onSiteBtn{
        border-radius: 20px;
        margin-top: 10px;
    }
    .btnGrupHolder2{
        display: grid;
    }
    #storySection{
        height: 300px;
        padding: 30px 10px 0px 10px;
    }
    #foter{
        display: grid;
    }
    .title{
        font-size: 1.6em;
    }
    .imgHolder{
        order: -1;
    }
    .cardsContainer {
        flex: 0 0 80%;
        scroll-snap-align: center; 
        min-width:fit-content;
        max-height: fit-content;
    }
    .infoHolder{
        border-radius: 0px;
    }
    .infoHolderx{
        border-radius: 0px;
    }
    .storyBtn{
        padding: 10px;
        max-height: 50%;

    }
}