:root{
    --background:#011827;
    --redBtn:#E3170A;
    --blueBtn:#8ACFE5;
}
body{
    margin: 0px;
    font-family: "Roboto";
    padding-bottom: 500px;
}
.headSection{
    display: grid;
    background-color: var(--background);
    color: white;
    padding:30px;
}
.navBar ul{
    position: relative;
    display: flex;
    list-style-type: none;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
    justify-content: space-evenly;
}
.navBar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
    border-radius: 15px;
}
.navBar a:hover{
    background-color: #458ea9;
}
.logoAndTitle{
    display: flex;
    padding-bottom: 20px;
}
.logoAndTitle h1{
    margin: 0px;
    align-content: end;
    max-height: 88px;
}
.title{
    padding-left: 10px;
}
.esc{
    display: flex;
    padding:40px 45px 3px 3px;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
}
.esc p{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    margin: 0px;
    align-self: end;
    padding: 10px;
    max-height: 20px;
}
/*Image and button grup here*/
.titleImgCard{
    position: relative;
    max-width: 100%;
    max-width: 100%;
}
.btnGrupHolder{
    display: flex;
    justify-content: center;
    transform:translateY(-50%);
}
.btnGrupHolder>button{
    background-color: var(--redBtn);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.btnGrup1{
    margin-right: 10px;
}
.btnGrup2{
    margin-left: 10px;
}
/*kommenter sections style here*/
#commentSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px 10px 50px 10px;
    gap: 3em;
}
.commentCard{
    display: flex;
    max-height: 100px;
}
.commenterImgCard{
    max-height: 100%;
    border-radius: 50%;
}
.textCard{
    display: grid;
    align-content: space-between;
    padding: 10px;
}
.text{
    font-size: clamp(20px, 0px, 0px);
    /* font-size: 6vw; */
    margin: 0px;
    font-weight: 20%;
    /* background-color: red; */
}
.textCard p{
    margin: 0px;
}
.textCard{
    display: grid;
    overflow:wrap;
    /* justify-content: space-between; */
}
.titleUnderComment{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    font-size: 3vw;
}
/*Here is the style for slider section and the cards*/
.sliderSection{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: auto; 
    gap:20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
}
.cardsContainer{
    flex: 0 0 80%;
    scroll-snap-align: start;
    /* new */
    display: grid;
    max-height: 440px;
    background-color: #97d9ff;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.hackerImgCard{
    max-height: 100%;
    max-width:100%;
    border-top-right-radius: 30px;
}
.titleOfRoom{
    font-weight: bold;
    padding-left: 10px;
}
.starsAndText{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.fa-solid{
    color: yellow;
}
.paricipantsText{
    margin: 0px;
    padding-right: 10px;
}
.discriptionsText{
    padding: 0px 10px 0px 10px;
}
.btnHolderForCard{
    display: flex;
    justify-content: center;
}
.cardBtn{
    background-color: var(--redBtn);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color:white;
}
/*Style for the button group under the slider should be here*/
.btnGrupHolder2{
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}
.btnGrup3{
    background-color: var(--redBtn);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-right: 15px;
}
.btnGrup4{
    background-color: var(--redBtn);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}
/*style for the story section*/
#storySection{
    display: grid;
    /* height: 500px; */
    background-color: #bbc9d3;
    padding: 100px 300px;
    margin-bottom: 100px;
}
.storyText{
    font-size: large;
}
.storyBtnHolder{
    display: flex;
    justify-content: center;
}
.storyBtn{
    padding: 20px;
    font-weight: bold;
    border-color: red;
    border-radius: 5px;
}
.teamSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    /* max-height: 460px; */
    background-color: rgb(221, 217, 255);
}
.teamImg{
    max-width: 100%;
    max-height: 100%;
}
.teamInfo{
    display: grid;
    padding: 50px;
}
.infoBtnHolder{
    display: flex;
    justify-content: center;
}
.infoBtn{
    background-color: rgb(222, 255, 90);
    border-radius: 10px;
    font-weight: bold;
    border-color: #E3170A;
}
.teamText{
    font-weight: bold;
}
#foter{
    display: flex;
    background-color: #011827;
    color:white;
    padding: 50px;
    justify-content: space-between;
}

/*Here is the responsiv design for smaller display that needed to be hard koded*/
@media(max-width: 768px){
    .sliderSection{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        overflow: visible;
    }
    .navBar{
        display: none;
    }
    .commentCard{
        margin-bottom: 100px;
    }
    .titleUnderComment{
        font-size: 5vw;
    }
    .btnGrupHolder{
        display: grid;
        justify-content: center;
        transform: translateY(-26%);
        .btnGrup2{
            margin: 10px 0px 0px 0px;
        }
        .btnGrup1{
            margin-left: 10px;
        }
    }
    .btnGrupHolder2{
        display: grid;
        .btnGrup3{
            margin: 0px
        }
        .btnGrup4{
            margin-right: 13px;
            margin-top: 10px;
        }
    }
    #storySection{
        height: 300px;
        padding: 0px 0px;
    }
    .storyBtn{
        padding: 0px;
        max-height: 60px;
    }
    .teamImgHolder{
        order: -1;
    }
    .teamText{
        font-size: small;
    }
    .teamComment{
        font-size: small;
    }
    .teamInfo{
        padding: 20px 0px 20px 0px;
    }
    #foter{
        display: grid;
    }
}